/* google font */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@551&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-padding-top:2rem;
    scroll-behavior: smooth;
}

.main{
   background:#101529;
   height: 100vh;
   width: 100%;
}
.header{
    position: fixed;
    width: 100%;
    top:0;
    right:0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 100px;
    transition: 0.5s;
    background-color: #0a0d19;
}
.logo{
    font-size: 1.1rem;
    font-weight: 600;
    align-items: center;
    color:#fff;
    display: flex;
    column-gap:0.5em;
}
.bx {
    color: #ff2c1f;
}
.navbar{
    display: flex;
    column-gap: 5rem;
}
.navbar li {
    position: relative;
}
.navbar a{
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
}
.navbar a::after{
    content: "";
    width: 0;
    height: 2px;
    background-color: #ff2c1f;
    position: absolute;
    bottom: -4px;
    left:0;
    transition: 0.4s all linear;
}
.navbar a:hover::after,
.navbar .active::after{
    width: 100%;
}
#menu-icon{
    font-size: 24px;
    cursor: pointer;
    z-index: 1000001;
    display: none;
}
.btn{
    padding: 0.7rem 1.4rem;
    background: rgb(70,129,244);
    background: radial-gradient(circle, rgba(70,129,244,1) 0%, rgba(85,194,218,1) 100%);
    font-weight: 400;
    border-radius: 0.5rem;
    color: #fff;
}