.profile-page {
    width: 100%;
    height: 90vh;
    color: #fff;
    display: flex;
    flex-direction: row;
    padding: 8em;
}

.side-tab {
    height: 7em;
    width: 9.3em;
    display: flex;
    flex-direction: column;
    margin-top: 0.4em;
}

.side-tab .hoso-item {
    border: 3px solid rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    cursor: pointer;
    margin-left: 0.2em;
}

.profile-page .info {
    border: 3px solid rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    font-size: 3.2em;
    font-weight: 600;
    padding-left: 0.8em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgb(14, 24, 41);
    z-index: 1;
}

.info .change-password {
    display: flex;
    align-items: center;
    gap: 0.8em;
}

.side-tab .hoso-item {
    border: 3px solid rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.side-tab .hoso-item.active {
    background-color: rgb(97, 108, 191);
    transform: scale(1.2); 
    z-index: 1;
}

.side-tab .hoso-item:not(.active) {
    transform: scale(1);
    z-index: 0;
}

.side-tab .hoso-item:not(.active):hover {
    transform: scale(1.1);
}

.info p button {
    color: #fff;
    background-color: rgba(28, 56, 90, 0.829);
    width: 8.3em;
    height: 2.2em;
    border-radius: 12px;
    margin-top: 0.8em;
}